<mat-grid-list cols="8" rowHeight="100px">

  <mat-grid-tile
  [colspan]="tiles[0].cols"
  [rowspan]="tiles[0].rows"
  [style.background]="tiles[0].color">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen">
      <p>Sidebar Content</p>
      <button mat-raised-button (click)="toggleSidebar()">Toggle Sidebar</button>
    </mat-sidenav>
    <mat-sidenav-content>
      <p>Main content area inside the sidebar tile.</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-grid-tile>

<mat-grid-tile
  [colspan]="tiles[1].cols"
  [rowspan]="tiles[1].rows"
  [style.background]="tiles[1].color">
  <div class="button-container">
    <button mat-raised-button (click)="logout()">Logout</button>
</div>
</mat-grid-tile>

<mat-grid-tile
  [colspan]="tiles[2].cols"
  [rowspan]="tiles[2].rows"
  [style.background]="tiles[2].color">
  <app-customer-table></app-customer-table>
</mat-grid-tile>

  </mat-grid-list>
  