<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Benutzername</mat-label>
      <input matInput [(ngModel)]="username" name="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Passwort</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button (click)="onSubmit()" [disabled]="!username || !password">Anmelden</button>
</div>
