*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    height: 100vh;
    background-image: url(../../../public/mountains-2120004_1920.jpg);
    background-color: rgba(0, 0, 0, 0.5);      
}